@keyframes shake2 {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* // text animation sidenav */

h1.ml3 span {
    font-weight: 900 !important;
    font-size: 0.15em !important;
}

#sideNav:hover {
    opacity: .95;
}

/* @media screen and (max-width:800px) {
    #scroll-top {
      position: relative;
      bottom: 200px;
      right: 350px !important;
    }
}
 */

/* about */
#about .social-icon:hover {
    transform: scale(1.2);
}

@media screen and (max-width:1000px) {
    #about h1 {
        font-size: 50px !important;
    }
}

@media screen and (max-width:600px) {
    #about .at-symbol {
        width: 15px;
        height: 15px;
        /* display: inline; */
    }
}

/* Experience sec */
/* always write styles in a separate stylesheet , not inside the html file */

#experience .project-number1,
#experience .project-number2,
#experience .project-number3,
#experience .project-number4 {
    display: none;
}

#experience .info_bulle1,
#experience .info_bulle2,
#experience .info_bulle3,
#experience .info_bulle4 {
    display: none;
}

@media screen and (max-width:1000px) {

    #experience .project-number1,
    #experience .project-number2,
    #experience .project-number3,
    #experience .project-number4 {
        display: inline-block;
    }

    #experience .info_bulle1,
    #experience .info_bulle2,
    #experience .info_bulle3,
    #experience .info_bulle4 {
        display: inline-block;
    }
}











/*styling h1 sections*/

.h1-wrapper:hover {
    padding-top: 70px;
    padding-bottom: 70px;
    transition: ease .6s;
    opacity: .6s;
    background-color: #343a40d8;
}

.h1-wrapper {
    background-color: #343a40e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* animation for h1 in other sections,  https://codepen.io/FrankieDoodie/pen/dgVGad */
h1.animate_heading {
    position: relative;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width:800px) {
    h1.animate_heading {
        text-transform: uppercase;
        font-size: 1.3em;
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

/* Skills section */

#skills .dev-icons div img {
    filter: grayscale(100%);

}

#skills .dev-icons div img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
    transition: .6s ease;
    cursor: pointer;
}

#skills .dev-icons div {
    width: 68px;
}

#skills .fa-li {
    color: rgba(44, 92, 44, 0.801);
}


/* Media */
@media screen and (max-width:992px) {
    #skills .dev-icons-sm-screen {
        border-radius: 25px;
    }
}


@keyframes shake {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes shake2 {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* over X axis */
@keyframes shake3 {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}


#projects .phono_desktop:hover,
#projects .phono_smartphone:hover {
    opacity: .4;
    animation: shake3 2s;
}

/* <!-- make an alternative version of this section for smartphone devices , simple section , showing only links... --> */

.col1:hover {
    opacity: .85;
}

#projects .project1-container {
    background-color: #f8f9fa;
}

#projects .project1-container:hover {
    background-color: darkgray;
}

#projects .project2-container:hover {
    background-color: rgb(207, 196, 196);
}

#projects .vertical-line {
    transition: ease 3s;
    border-left: 2.2px solid black;
    height: 300px;
    margin-top: -250px;
    width: 1px;
    display: none;
}

#projects .msg-info {
    word-spacing: 0.2cm;
    letter-spacing: .5mm;
    font-size: 15px;
    display: none;
}

#projects .carousel-inner div img.img-desktop {
    margin-left: -20px;
    width: 100%;
    height: auto;
}

#projects .carousel-inner div img.img-desktop:hover {
    transition: ease .6s;
    transform: scale(1.1);

}

#projects .carousel-inner div img.img-smartphone {
    margin-left: -20px;
    width: 50%;
    margin: auto;
}

#projects .carousel-inner div img.img-smartphone:hover {
    transition: ease .6s;
    transform: scale(1.1);
    opacity: .85;
}

#projects .img-proj1:hover {
    transform: scale(1.1);
    opacity: .9;
}

/* For screens larger than 1600px, the width of the row1 will be 1300 px large at least! */
@media screen and (min-width:1600px) {
    #projects .row1 {
        min-width: 1300px;
    }
}

/* For screens lesser than 1600px, the width of the row1 will resize automatically to fit in the screen of the vp */
@media screen and (max-width:1600px) {
    #projects .row1 {
        width: auto;
    }
}


@media screen and (max-width:1200px) {
    #projects .buttons .col2 {
        margin-top: 40px;
    }
}

/* <!-- the images didnt want to display , because in github , I didnt add them to the folder assets/img , lol hahahahahaha --> */

/* ../ means the parent folder          ./ means the same folder */
/* Note: The "../" is shorthand for "The containing directory", or "Up one directory". */


#interests .interests-inner:hover {
    background-image: url("https://i.ibb.co/NZ7x99h/interests-bg.png");
}

#interests .interests-inner p {
    font-weight: bolder;
    color: black;
}

#interests .img1:hover {
    transform: scale(1.2);
    transform: 2s ease;
}



/* Bootstrap 5 colors 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000; */



@media screen and (min-width:1600px) {
    #projects #accordion1 {
        width: 1350px;
    }
}


@media screen and (min-width:1400px) {

    /* Small projects , CARD , CSS */
    .container-cards-proj {
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .container-cards-proj .card {
        position: relative;
        border-radius: 10px;
    }

    .container-cards-proj .card .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: 0.7s;
        z-index: 1;
    }

    .container-cards-proj .card:nth-child(1) .wrapper {
        background: #bd5d38;
    }

    .container-cards-proj .card:nth-child(2) .wrapper {
        background: #cf7450bb;
    }

    .container-cards-proj .card:nth-child(3) .wrapper {
        background: #cf673d85;
    }

    /* proj2 */
    .container-cards-proj2 .card:nth-child(1) .wrapper {
        background: #c46210;
    }

    .container-cards-proj2 .card:nth-child(2) .wrapper {
        background:  #ff9f00;
    }

    .container-cards-proj2 .card:nth-child(3) .wrapper {
        background: #ffae42;
    }


    /* on hover */
    .container-cards-proj .card:nth-child(1):hover .wrapper {
        background: darkslategray;
    }

    .container-cards-proj .card:nth-child(2):hover .wrapper {
        background: rgba(47, 79, 79, 0.671);
    }

    .container-cards-proj .card:nth-child(3):hover .wrapper {
        background: rgba(47, 79, 79, 0.521);
    }

    .container-cards-proj .card .wrapper p {
        color: white;
    }

    .container-cards-proj .card .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
    }

    .container-cards-proj .card .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }

    .container-cards-proj .card:hover .face.face1 {
        background: black;
        transform: translateY(0px);
    }

    .container-cards-proj .card .face.face1 .content {
        opacity: 1;
        transition: 0.5s;
    }

    .container-cards-proj .card:hover .face.face1 .content {
        opacity: 1;
    }


    .container-cards-proj .card .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }

    .container-cards-proj .card:hover .face.face2 {
        transform: translateY(0);
    }

    .container-cards-proj .card .face.face2 .content p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #414141;
    }

    .container-cards-proj .card .face.face2 .content h3 {
        margin: 0 0 10px 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        text-align: center;
        color: #414141;
    }

    .container-cards-proj a {
        text-decoration: none;
        color: #414141;
    }
}

/* added by me */

.container-cards-proj .card1 .word-technologies span {
    display: none;
}

.container-cards-proj .card .face.face2 .content .icons a img:hover {
    filter: invert(0.5);
}

.container-cards-proj .card5 .wrapper-proj:hover {
    background-color: lightgrey;
    transform: scale(.8) !important;
}

.container-cards-proj .card5 .wrapper-proj:hover small {
    font-weight: bolder;
    font-size: larger;
}

.container-cards-proj .card5 .wrapper-proj:hover img {
    transform: scale(1.15);
}

#accordion1 .accordion-item .accordion-header:hover button {
    background-color: lightgrey;
    font-weight: bolder;
    padding-left: 50px;
    transition: .6s ease;
}
